/* stylelint-disable */

.acfm-list-card {
    display: grid;
    padding-left: initial;
    margin-bottom: 5rem;
    //position: relative;
    //bottom: 25rem;
    text-align: center;
    list-style: none;
    gap: 2.5rem;
    grid-template-columns: 1fr;
    @media #{$lg} {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    &__item {
        display: flex;
        gap: 1rem;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        border-radius: 2rem;

        @media #{$until_md} {
            justify-content: center;
        }

        svg {
            min-width: 5rem;
        }

        &:hover {
            svg {
                & path {
                    fill: $brand_primary;
                }
            }
        }
    }

    &__image {
        min-width: 5rem;
    }

    &__title {
        font-family: $font_secondary;
        font-size: 3rem;
        color: $brand_dark;
    }

    &__text {
        font-size: 16px;
    }
}
