/* stylelint-disable */

.acfm-list-default {
    display: grid;
    margin-bottom: 5rem;
    text-align: center;
    list-style: none;
    gap: 2.5rem;
    grid-template-columns: 1fr;
    @media #{$lg} {
        grid-template-columns: repeat(4, 1fr);
    }

    @media #{$until_xl} {
        padding: 0;
    }

    &__item {
        display: flex;
        gap: 1rem;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
        text-align: left;
        border: 1px solid $brand_primary;
        border-radius: 2rem;

        @media #{$until_xxl} {
            flex-direction: column;
        }

        svg {
            min-width: 5rem;
        }

        &:hover {
            svg {
                & path {
                    fill: $brand_primary;
                }
            }
        }
    }

    &__content {
        @media #{$until_xxl} {
            text-align: center;
        }
    }

    &__image {
        min-width: 9rem;
    }

    &__title {
        font-family: $font_secondary;
        font-size: 3rem;
    }
}
