/* stylelint-disable */

$anim-duration: 2.5; // in seconds
$anim-speed: 0.65; // in seconds

:root {
    --btn-border: 1px solid rgba(255, 255, 255, 0.2);
    --btn-bg: transparent; // #333
    --btn-shadow: 1px 1px 25px 10px rgba(255, 255, 255, 0.5);
    --btn-text-color: #f4f4f4;
    --shine-degree: 120deg;
    --shine-color: rgba(255, 255, 255, 0.2);
    --shine-effect: linear-gradient(var(--shine-degree), transparent, var(--shine-color), transparent);
    --shine-transition: all #{$anim-speed}s ease-in-out;
}

.prfwp-loginWidget {
    &__depositBtn,
    &__logoutBtn,
    &__signUpBtn-lg {
        @include button_sm();
        margin: 0.7em 0.5em;
        overflow: hidden;
        color: $brand_dark;
        white-space: nowrap;
        background: $brand_primary;
        transition: 0.8s ease-out;

        &:hover {
            .open-account-text {
                z-index: 4;
                color: $brand_white;
                transition: 0.8s ease-out;
            }
        }
    }

    &__depositBtn {
        margin-bottom: 1em;
    }

    &__loginPopupCtrl,
    &__logoutBtn {
        @include button_outline();

        color: $brand_primary;

        &:hover {
            color: $brand_white;
            background: $brand_hover;
            border: 2px solid $brand_primary;
        }
    }

    &__signUpBtn-lg {
        &::before,
        &::after {
            position: absolute;
            top: 0;
            display: block;
            height: 100%;
            content: '';
        }
        &::before {
            left: 0;
            width: 60px;
            background: rgb(255, 255, 255);
            filter: blur(20px);
            animation: shine-alt1 #{$anim-duration}s ease-in-out infinite;
        }
        &::after {
            left: 30px;
            width: 30px;
            background: rgba(255, 255, 255, 0.6);
            filter: blur(5px);
            animation: shine-alt2 #{$anim-duration}s ease-in-out infinite;
        }
    }

    &__signUpBtn-lg,
    &__depositBtn {
        @include button-primary();

        &::after {
            display: none;
        }
    }

    &__forgotPasswordBtn {
        line-height: 1;
        color: $brand_primary;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    &__signUpBtn-sm {
        text-decoration: underline;
    }

    @media #{$navbar_breakpoint} {
        &__loginPopupCtrl,
        &__signUpBtn-lg {
            display: flex;
        }

        &__depositBtn {
            margin: 0;
        }

        &__loginPopup {
            top: $loginPopup_top_position;
            min-width: $loginPopup_width;
        }

        &__depositBtn,
        &__loginPopupCtrl,
        &__logoutBtn,
        &__signUpBtn-lg {
            @include font-size-xs();
            padding: 1.5rem 3rem;
            margin: 0 0 0 $button_second_margin;
            svg {
                display: none;
            }
        }
    }
}

@keyframes shine-alt1 {
    0% {
        opacity: 0.5;
        transition-property: opacity, transform;
        transform: translateX(-100px) skewX(-15deg);
    }
    #{($anim-speed / ($anim-duration + $anim-speed) * 100%)},
    100% {
        opacity: 0.6;
        transition-property: opacity, transform;
        transform: translateX(300px) skewX(-15deg);
    }
}

@keyframes shine-alt2 {
    0% {
        opacity: 0;
        transition-property: opacity, transform;
        transform: translateX(-100px) skewX(-15deg);
    }
    #{($anim-speed / ($anim-duration + $anim-speed) * 100%)},
    100% {
        opacity: 1;
        transition-property: opacity, transform;
        transform: translateX(300px) skewX(-15deg);
    }
}
