// stylelint-disable
.acfm-footer-main {
    @include font-size-xs();
    position: relative;
    overflow: hidden;
    &__title {
        padding-bottom: 0.5em;
        font-size: 30px;
        font-weight: $font_weight_bold;
        color: $brand_primary;
        text-align: center;
    }

    a {
        @include transition(color, 300ms);

        &:hover,
        &:active {
            color: $brand_primary;
        }
    }

    .acfm-row {
        justify-content: space-between;

        &__col:not(:last-child) {
            margin-bottom: 0;
        }
    }

    @media #{$md} {
        .border-right {
            border-right: 1px solid $brand_primary;
        }
    }

}
