// stylelint-disable
.acfm-footer-subscribe {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    @media #{$until_xl} {
        justify-content: center;
    }
    &__inner {
        display: flex;
        gap: 3rem;
        @media #{$until_xl} {
            flex-direction: column;
        }
    }

    .acfm-footer-main__title {
        padding-bottom: 1.5em;
        font-family: $font_secondary;
        font-weight: $font_weight_regular;
        text-transform: uppercase;
    }
}

.cf7-subscribe {
    &-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50rem;
        height: 5.5rem;
        border: 1px solid $brand_primary;
        border-radius: 1rem;

        @media #{$until_xl} {
            width: 33rem;
        }
    }

    &-control {
        position: relative;
        flex-basis: calc(100% - #{em(70)});
        margin: 0;
    }

    &-input {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0 1.3em;
        color: $brand_white;
        cursor: text;
        background-color: transparent;
        border: none;

        &::placeholder {
            opacity: 0;
        }
    }

    &-placeholder {
        @include transition();
        position: absolute;
        top: 50%;
        right: 1px;
        left: 1px;
        display: inline-block;
        padding: 0.15em 1rem;
        line-height: 1.57;
        color: $brand_gray;
        cursor: text;
        background-color: transparent;
        transform: translateY(-50%);

        @media #{$sm} {
            right: auto;
        }
    }

    &-input:focus,
    &-input:not(:placeholder-shown) {
        outline: none;

        ~ .cf7-subscribe-placeholder {
            top: -55%;
            padding: 1.5% 3%;
            line-height: 1;
            white-space: nowrap;
            background-color: $brand_primary;

            @media #{$sm} {
                right: auto;
            }
        }
    }

    &-input:focus {
        ~ .cf7-subscribe-placeholder {
            color: $brand_dark;
            background-color: $brand_white;
        }
    }

    &-submit {
        @include transition(background);
        position: absolute;
        right: 0;
        width: 18rem;
        height: 5.4rem;
        font-weight: $font_weight_bold;
        color: $brand_dark;
        text-transform: uppercase !important;
        background: $brand_primary;
        border-radius: 0 1rem 1rem 0;

        @include transition();
        @media #{$until_xl} {
            width: 12rem;
        }

        &:hover,
        &:focus {
            color: $brand_white;
            background: $brand_dark;
        }

        &:active {
            transform: scale(0.9);
        }

        [type='submit'] {
            width: 100%;
            height: 100%;
            cursor: pointer;
            border: none;
            opacity: 0;
        }
    }
}
